---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
// import FeedbackForm from '~/components/FeedbackForm';

const metadata = {
  title: 'Top Stream - Revolutionizing OTT Online Streaming',
  metaDescription:
    'Experience the future of OTT streaming with Top Stream. Discover our innovative solutions for a seamless viewing experience.',
  ignoreTitleTemplate: true,
};
---

<!-- <FeedbackForm client:load />  -->
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      { text: 'Read more', href: '/blog', class: 'mx-2', icon: 'tabler:list' },
      {
        variant: 'primary',
        text: 'Get Demo',
        href: '/contact',
        icon: 'tabler:rocket',
        class: 'mx-2 text-left',
      },
    ]}
    image={{ src: '~/assets/images/topstream-tv.png', alt: 'Top Stream Hero Image' }}
  >
    <Fragment slot="title">TOP STREAM</Fragment>

    <Fragment slot="subtitle" class="flex flex-col items-center">
      <span class="font-semibold flex justify-center items-center mb-1">Best Price, Maximum ROI</span>
      Top Stream buys CTV / OTT streaming media impressions at the same price as our competitors, but with <b
        >significantly less</b
      > overhead and <b>smaller margins</b>, we pass those savings on to you.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Why Top Stream?"
    title="Maximize Your Return on Investment"
    items={[
      {
        title: 'Drive Better ROI with Unbeatable CPM Rates',
        description: `Achieve more with your ad budget through our highly
competitive CPM, <b>offered at a fraction of the industry
standard.</b> Lower CPM means you reach more viewers
for less, maximizing exposure without sacrificing quality.`,
      },
      {
        title: 'Pinpoint placement',
        description: `You choose your placement to reach viewers <b>exactly
where they’re most engaged—right within the
programming they’re actively watching.</b> Whether it's
during a live NFL or college football game, a hit show
like Wheel of Fortune, or other premium content.`,
      },
    ]}
    image={{
      src: '~/assets/images/hero-image.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Maximize Impact with Advanced Tracking',
        description: `Unlock the full potential of your CTV campaigns with pixel-
based tracking. <b>Track user behavior across devices, match ad
exposure to web activity, and discover who visits your site,
what they explore, and how they engage—</b> all in real time.
Optimize your campaigns, retarget interested audiences, and
drive more conversions with data-driven insights that bridge
the gap between CTV ads and online actions.`,
      },
      {
        title: 'Bottom Line',
        description: `With Top Stream, your <b>ad dollars go farther</b>, your ad
content is <b>placed where you want it</b>, and every impression
is <b>tracked to maximize conversion.</b>`,
      },
    ]}
    image={{
      src: '~/assets/images/topstream-mobile-network.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The competitors edge</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with Top Stream"
    subtitle="Unlock the full potential of your ad revenue with Top Stream's cutting-edge technology and expert team."
    items={[
      {
        title: 'Advanced Ad Optimization',
        description: `We allow you access to thousands of behavioral charchateristics so that you can clearly define your ad to reach your optimum customer.`,
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Reporting and Analytics',
        description:
          'We will provide you with comprehensive reporting that will allow you to see your reach as well as your engagement to your website.  Reporting is the best way to not only calculate your ROI, but allow you to better understand your target market.',
        icon: 'tabler:components',
      },
      {
        title: 'Dedicated Support Team',
        description:
          'Our expert support team is always available to help you with any questions or issues you may have.',
        icon: 'tabler:help',
      },
      {
        title: 'Constant Innovation and Updates',
        description:
          'Top Stream is committed to staying at the forefront of ad streaming technology, with new features and updates released regularly.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Note Widget ******************* -->

  <Note />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Why Top Stream?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'How can you beat any other competitive pricing?',
        description:
          'We purchase the ad inventory for the same price as any of our competitors, we simply do not have the overhead or the need for the margins that our competitors add to the retail price of their offering.',
      },
      {
        title: 'How can you provide pinpoint placement?',
        description:
          'Most of our competitors have the ability to offer pin point placement, they just choose not to, or charge more for placement. It takes added effort to place ads in specific positions within a football game or any other program, it is time consuming to build a pinpoint campaign. We feel that offering this pinpoint service along with our pricing advantage creates an even more compelling reason to try our services. ',
      },
      {
        title: 'How can you offer more filters than other companies?',
        description:
          'With over 27,000 different filters dealing with everything from sex, age, income, zip code, credit score etc, it can be overwhelming to build a successful campaign.',
      },
      {
        title: 'Do you track activity to my website?',
        description:
          'We provide the technology for you to allow us to track all of activity we generate to your website.',
      },
      {
        title: 'What sets our services apart?',
        description:
          'We feel that offering this pinpoint service along with our pricing advantage creates an even more compelling reason to try our services. It takes extra work on our part to work with you to select the correct filters for your ad campaign.',
      },
      {
        title: 'Why should I choose Top Stream?',
        description:
          'We will take the time, as your ROI is dependent on it. We strongly feel that a lower price for the exact same product is a compelling reason to try our services.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get Demo',
        href: '/contact',
        icon: 'tabler:list',
      },
    ]}
  >
    <Fragment slot="title">
      Top Stream <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Media</span>
    </Fragment>

    <Fragment slot="subtitle">
      Top Stream: Low Price + Pinpoint Placement = Maximum ROI.<br class="hidden md:inline" /> Unlock your ad potential today.
    </Fragment>
  </CallToAction>
</Layout>
