---
import topstreamLogo from '~/assets/images/topstream-logo.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img src={topstreamLogo.src} alt="Ohio Windows & More Logo" class="h-16 md:h-16" />
</span>
